### Роботу виконав студент ІВ-93, Трибушенко Артем, варіант якого - 327

In [2]:
import numpy as np
import pandas as pd

## Дані відповідно варіанту

In [181]:
x1_min = 10
x1_max = 60
x2_min = -35
x2_max = 10
x3_min = -30
x3_max = 45

x_avg_max = np.mean([x1_max, x2_max, x3_max])
x_avg_min = np.mean([x1_min, x2_min, x3_min])

y_max = 200 + x_avg_max
y_min = 200 + x_avg_min

factors_table = [[1, 1, 1, 1],
                 [-1, -1, +1, +1],
                 [-1, +1, -1, +1],
                 [-1, +1, +1, -1]]

## Кількість строк і рядків

In [179]:
n = 4
m = 3

## Заповнення матриці планування

In [22]:
x1 = np.array([x1_min, x1_min, x1_max, x1_max])
x2 = np.array([x2_min, x2_max, x2_min, x2_max])
x3 = np.array([x3_min, x3_max, x3_max, x3_min])
y1 = np.array([np.random.randint(y_min, y_max) for i in range(n)])
y2 = np.array([np.random.randint(y_min, y_max) for i in range(n)])
y3 = np.array([np.random.randint(y_min, y_max) for i in range(n)])
df_plan = pd.DataFrame({"x1" : x1, "x2" : x2, "x3" : x3, "y1" : y1, "y2" : y2, "y3" : y3})

## Середнє по у

In [158]:
ys = ["y1", "y2", "y3"]
y1_mean_row, y2_mean_row, y3_mean_row, y4_mean_row = np.mean(df_plan[ys], axis=1)
mean_ys_row = [y1_mean_row, y2_mean_row, y3_mean_row, y4_mean_row]
mean_ys_row

[215.0, 209.0, 217.66666666666666, 206.33333333333334]

## Середнє по х

In [154]:
xs = ["x1", "x2", "x3"]
x1_mean_col, x2_mean_col, x3_mean_col = np.mean(df_plan[xs], axis=0)
x1_mean_col, x2_mean_col, x3_mean_col

(35.0, -12.5, 7.5)

## Середнє по середнім у

In [155]:
mean_y = np.mean([y1_mean_row, y2_mean_row, y3_mean_row, y4_mean_row])
mean_y

212.0

## Підрахунок a1, a2, a3

In [60]:
a1 = sum([df_plan["x1"][i] * mean_ys_row[i] for i in range(len(mean_ys_row))]) / len(mean_ys_row)
a2 = sum([df_plan["x2"][i] * mean_ys_row[i] for i in range(len(mean_ys_row))]) / len(mean_ys_row)
a3 = sum([df_plan["x3"][i] * mean_ys_row[i] for i in range(len(mean_ys_row))]) / len(mean_ys_row)
print("a1 = ", a1, "\na2 = ", round(a2, 3), "\na3 = ", a3)

a1 =  7420.0
a2 =  -2747.5
a3 =  1640.0

## Підрахунок a11, a22, a33, a12, a13, a23

In [75]:
a11 = sum(np.square(df_plan["x1"])) / len(mean_ys_row)
a22 = sum(np.square(df_plan["x2"])) / len(mean_ys_row)
a33 = sum(np.square(df_plan["x3"])) / len(mean_ys_row)
print("a11 = ", a11, "\na22 = ", round(a22, 3), "\na33 = ", a33)

a11 =  1850.0
a22 =  662.5
a33 =  1462.5

In [83]:
a12 = sum([df_plan["x1"][i] * df_plan["x2"][i] for i in range(len(df_plan["x1"]))]) / len(mean_ys_row)
a13 = sum([df_plan["x1"][i] * df_plan["x3"][i] for i in range(len(df_plan["x1"]))]) / len(mean_ys_row)
a23 = sum([df_plan["x2"][i] * df_plan["x3"][i] for i in range(len(df_plan["x1"]))]) / len(mean_ys_row)

In [90]:
a21 = a12
a31 = a13
a32 = a23
print("a21 = a12 =", a21, "\na31 = a13 =", a31, "\na32 = a23 =", a32)

a21 = a12 = -437.5
a31 = a13 = 262.5
a32 = a23 = -93.75

## Коефіцієнти регресії

In [111]:
from numpy.linalg import det
b0 = det(np.array([[mean_y, x1_mean_col, x2_mean_col, x3_mean_col], 
                   [a1, a11, a12, a13],
                   [a2, a12, a22, a32],
                   [a3, a13, a23, a33]])) / det(np.array([[1, x1_mean_col, x2_mean_col, x3_mean_col],
                                                          [x1_mean_col, a11, a12, a13],
                                                          [x2_mean_col, a12, a22, a32],
                                                          [x3_mean_col, a13, a23, a33]]))
b1 = det(np.array([[1, mean_y, x2_mean_col, x3_mean_col],
                   [x1_mean_col, a1, a12, a13],
                   [x2_mean_col, a2, a22, a32],
                   [x3_mean_col, a3, a23, a33]])) / det(np.array([[1, x1_mean_col, x2_mean_col, x3_mean_col],
                                                                  [x1_mean_col, a11, a12, a13],
                                                                  [x2_mean_col, a12, a22, a32],
                                                                  [x3_mean_col, a13, a23, a33]]))
b2 = det(np.array([[1, x1_mean_col, mean_y, x3_mean_col],
                   [x1_mean_col, a11, a1, a13],
                   [x2_mean_col, a12, a2, a32],
                   [x3_mean_col, a13, a3, a33]])) / det(np.array([[1, x1_mean_col, x2_mean_col, x3_mean_col],
                                                                  [x1_mean_col, a11, a12, a13],
                                                                  [x2_mean_col, a12, a22, a32],
                                                                  [x3_mean_col, a13, a23, a33]]))
b3 = det(np.array([[1, x1_mean_col, x2_mean_col, mean_y],
                   [x1_mean_col, a11, a12, a1],
                   [x2_mean_col, a12, a22, a2],
                   [x3_mean_col, a13, a23, a3]])) / det(np.array([[1, x1_mean_col, x2_mean_col, x3_mean_col],
                                                                  [x1_mean_col, a11, a12, a13],
                                                                  [x2_mean_col, a12, a22, a32],
                                                                  [x3_mean_col, a13, a23, a33]]))
print("b0 =",b0, "\nb1 =", round(b1, 2), "\nb2 =", b2, "\nb3 =", b3)

b0 = 209.32592592592638
b1 = -0.0
b2 = -0.19259259259259162
b3 = 0.0355555555555556

## Підрахунок результатів регресії

In [117]:
regression = df_plan.loc[:, ["x1", "x2", "x3"]] * [b1, b2, b3]
y_not_finished = regression.apply(sum, axis=1)
mean_y_finish = (b0 + y_not_finished).tolist()

## Порівняння кінечних результатів регресії з даними на початку

In [140]:
mean = [y1_mean, y2_mean, y3_mean, y4_mean]
for i in range(len(mean_y_finish)):
    print(f"given mean of y = {round(mean[i], 5)} <--------> result of regression = {round(mean_y_finish[i], 5)}")

given mean of y = 215.0 <--------> result of regression = 215.0
given mean of y = 209.0 <--------> result of regression = 209.0
given mean of y = 217.66667 <--------> result of regression = 217.66667
given mean of y = 206.33333 <--------> result of regression = 206.33333

## ↑ Результати сходяться. Чудово! ↑

In [182]:
normalized_data = pd.DataFrame(
    {"x0_norm" : factors_table[0], "x1_norm" : factors_table[1],
     "x2_norm" : factors_table[2], "x3_norm" : factors_table[3],
     "y1" : y1, "y2" : y2, "y3" : y3})
normalized_data

   x0_norm  x1_norm  x2_norm  x3_norm   y1   y2   y3
0        1       -1       -1       -1  221  225  199
1        1       -1        1        1  204  214  209
2        1        1       -1        1  228  236  189
3        1        1        1       -1  223  184  212

## Знайдемо дисперсії по рядках

In [149]:
df_ys = normalized_data[ys]
disps = []

In [167]:
for i in range(4):
    disps.append((1/ 3) * (df_ys.iloc[i, 0] - mean_ys_row[i]) ** 2 + (df_ys.iloc[i, 1] - mean_ys_row[i]) ** 2 + 
                 (df_ys.iloc[i, 2] - mean_ys_row[i]) ** 2)

### За таблицею в 4 рядку 2 стовпчику  Gt = 0.7679

In [175]:
Gt = 0.7679
Gp = max(disps) / sum(disps)
print(f"Gp = {Gp} < Gт = {Gt} – Дисперсія однорідна.")

Gp = 0.5380171636557919 < Gт = 0.7679 – Дисперсія однорідна.

## Далі оцінимо значимість коефіцієнтів регресії згідно критерію Стьюдента.

In [194]:
Sb = sum(disps) / n
Sbetas = Sb / (n * m)
SbetasSquare = Sbetas ** (1 / 2)

In [195]:
beta0 = (1 / n) * np.sum([factors_table[0][i] * mean_ys_row[i] for i in range(len(mean_ys_row))])
beta1 = (1 / n) * np.sum([factors_table[1][i] * mean_ys_row[i] for i in range(len(mean_ys_row))])
beta2 = (1 / n) * np.sum([factors_table[2][i] * mean_ys_row[i] for i in range(len(mean_ys_row))])
beta3 = (1 / n) * np.sum([factors_table[3][i] * mean_ys_row[i] for i in range(len(mean_ys_row))])
print(f"beta0 = {beta0};\nbeta1 = {beta1};\nbeta2 = {round(beta2, 3)};\nbeta3 = {round(beta3, 3)}")

beta0 = 212.0;
beta1 = 0.0;
beta2 = -4.333;
beta3 = 1.333

In [213]:
t0 = np.abs(beta0) / SbetasSquare
t1 = np.abs(beta1) / SbetasSquare
t2 = np.abs(beta2) / SbetasSquare
t3 = np.abs(beta3) / SbetasSquare
t_arr = [t0, t1, t2, t3]
print(f"t0 = {round(t0, 2)};\nt1 = {t1};\nt2 = {round(t2, 2)};\nt3 = {round(t3, 3)}")

t0 = 31.19;
t1 = 0.0;
t2 = 0.64;
t3 = 0.196

## f3 = f1 * f2

In [214]:
indexes = []
for i, v in enumerate(t_arr):
    if t_arr[i] > 2.306:
        indexes.append(i)
    else:
        print(f'Коефіцієнт b{i} = {v} приймаємо не значним')

Коефіцієнт b1 = 0.0 приймаємо не значним
Коефіцієнт b2 = 0.6374306457671197 приймаємо не значним
Коефіцієнт b3 = 0.19613250638988253 приймаємо не значним

In [215]:
b_list = [b0, b1, b2, b3]
print(f'y = b{indexes[0]}')

y = b0

In [216]:
b_res = [b_list[indexes[0]] for _ in range(4)]
for i in b_res:
    print(f'y = {i}')

y = 209.32592592592638
y = 209.32592592592638
y = 209.32592592592638
y = 209.32592592592638

## Критерій Фішера--------кількість значимих коефіцієнтів--------

In [221]:
d = 1 # кількість значимих коефіцієнтів
s2_ad = m * sum([(mean_ys_row[i] - b_res[i]) ** 2 for i in range(4)]) / (n - d)
fp = s2_ad / Sbetas
print(f'Fp = {fp}')
if fp > 4.5:
    print('Рівняння регресії неадекватно оригіналу при рівні значимості 0.05')
else:
    print('Рівняння регресії адекватно оригіналу при рівні значимості 0.05')

Fp = 2.398054637266362
Рівняння регресії адекватно оригіналу при рівні значимості 0.05